---
import CommonScripts from '../components/CommonScripts.astro'

import Footer from '../layouts/Footer.astro'
import Header from '../layouts/Header.astro'
import '@fontsource/kiwi-maru'
import '@fontsource/m-plus-rounded-1c'
export interface Props {
  title: string
  description: string
  imageUrl?: string
  domain?: string
  barba?: boolean
  addtionalClass?: string
}
const {
  title = 'TKWD',
  description = 'ポートフォリオ',
  imageUrl = '/thumbnails/thumb.jpg',
  addtionalClass = false,
  domain,
} = Astro.props
import '@/styles/style.scss'
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="description" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={domain + imageUrl} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="icon" href="/favicon.png" />
    <script src="https://kit.fontawesome.com/076c3b3ad5.js" crossorigin="anonymous"></script>

    <title>{title}</title>
  </head>
  <body class=`${addtionalClass}`>
    <Header rootURL="https://github.com/yukaorange/" />
    <slot />
    <Footer />
    <CommonScripts />
  </body>
</html>

<style>
  body.dark {
    background-color: var(--dark);
  }
</style>
